.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
venv
.env
.env.*
node_modules
**/node_modules
coupon_validation/output
/tests
**/tests
alembic/versions/*.pyc
**/*.log
**/*.sqlite
**/*.db
**/.DS_Store
**/Thumbs.db
**/.idea
**/.vscode
**/*.coverage
**/.coverage
**/.cache
**/dist
**/build
**/*.egg-info
