DEBUG=True
BITRECS_PLATFORM_URL=
BITRECS_PLATFORM_API_KEY=
NETUID=296
SUBTENSOR_NETWORK=test
SUBTENSOR_ADDRESS=

MODE=screener
SCREENER_NAME=screener-1-1
SCREENER_PASSWORD=supersecret
SEND_HEARTBEAT_INTERVAL_SECONDS=10
SET_WEIGHTS_INTERVAL_SECONDS=300

VALIDATOR_WALLET_NAME=default
VALIDATOR_HOTKEY_NAME=default

CHECK_RUNNING_AGENTS_INTERVAL_SECONDS=60
CHECK_PENDING_EVALUATIONS_INTERVAL_SECONDS=30
CHECK_AGENT_UPLOAD_RATE_LIMIT_INTERVAL_SECONDS=600

REQUEST_EVALUATION_INTERVAL_SECONDS=45
SIMULATE_EVALUATION_RUNS=False
SIMULATE_EVALUATION_RUN_MAX_TIME_PER_STAGE_SECONDS=3

OPENROUTER_API_KEY=
CHUTES_API_KEY=

AGORA_URL=
AGORA_API_KEY=