bittensor==9.7.0
bittensor-wallet==3.0.10
pydantic==2.9.2
python-dotenv==1.0.1
openai==1.51.0
httpx==0.27.2
py-solc-x==2.0.3
solc_ast_parser==1.4.6
hypothesis==6.124.9
solidity-vulnerabilities-db2==2507.22.1
async-substrate-interface==1.3.1
unique-playgrounds-py==0.0.3
solidity-audit-client==2508.27.1
