[submodule "src/challenges/historical_fingerprinter"]
	path = src/challenges/historical_fingerprinter
	url = https://github.com/RedTeamSubnet/historical-fingerprinter-challenge.git
[submodule "src/challenges/flowradar"]
	path = src/challenges/flowradar
	url = https://github.com/RedTeamSubnet/flowradar-challenge.git
