bittensor==9.12.2
fastapi
numpy==2.3.5
pandas==2.3.3
pydantic==2.12.5
PyNaCl==1.6.1
PySide6==6.10.1
PyYAML==6.0.3
Requests
scikit-learn==1.7.2
setuptools==70.0.0
SQLAlchemy==2.0.44
substrate_interface==1.7.11
torch==2.9.1
uvicorn
web3==7.14.0
