ENV=dev
NETUID=296
SUBTENSOR_ADDRESS=wss://test.finney.opentensor.ai:443
SUBTENSOR_NETWORK=test

BURN=False
DISALLOW_UPLOADS=False
DISALLOW_UPLOADS_REASON=

R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_REGION=
R2_ENDPOINT_URL=

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=

SCREENER_PASSWORD=supersecret
SCREENER_1_THRESHOLD=0.3
SCREENER_2_THRESHOLD=0.4
PRUNE_THRESHOLD=0.9 # Must get at least 90% of the top agent's score after finishing screener-2

VALIDATOR_HEARTBEAT_TIMEOUT_SECONDS=120 # 2 minutes
VALIDATOR_HEARTBEAT_TIMEOUT_INTERVAL_SECONDS=120 # 2 minutes

VALIDATOR_RUNNING_AGENT_TIMEOUT_SECONDS=2400 # 40 minutes
VALIDATOR_RUNNING_EVAL_TIMEOUT_SECONDS=600 # 10 minutes
VALIDATOR_MAX_EVALUATION_RUN_LOG_SIZE_BYTES=500000 # 500 KB

NUM_EVALS_PER_AGENT=3