# ChipForge Subnet Configuration
# Copy this to .env and update values

# Challenge Server Configuration
CHALLENGE_API_URL=https://api.chipforge.io
VALIDATOR_SECRET_KEY=abc

TOTAL_HOURS_FOR_WINNER_REWARD=48  # total hours to reward winner of a challenge
BURN_AFTER_WINNER_DAYS=0.0        # Set to 0 as requested

# Subnet Configuration
NETUID=
SUBTENSOR_NETWORK=finney

# Wallet Configuration
# for validator
WALLET_NAME=
# for miner
# WALLET_NAME=/

VALIDATOR_HOTKEY=default
MINER_HOTKEY=default

# Logging
LOG_LEVEL=INFO

FILE_TO_SUBMIT=/test_designs/adder.zip

# PERCENTANGE_EMISSION_OF_WINNER = 1.0