starlette>=0.30.0
pydantic>=2.10.0
rich>=13
pytest>=8
torch>=2.0.0
numpy>=1
setuptools>=68
bittensor==9.9.0
python-dotenv>=1.0.1
langgraph>=0.2.60
langchain-community>=0.3.14
flask>=3.1.0
jinja2>=3.0.2
gunicorn==21.2.0
requests>=2.32.0
dotenv>=0.9.9
flask-cors==5.0.0
DeFiLlama>=2.0.0
langchain-openai>=0.3.7
binance-connector>=3.12.0
scikit-learn>=1.6.0
boto3>=1.35.0
solana>=0.36.6
ratelimit>=2.2.1
opengradient==0.4.12b1
